{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chat - Everything</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/htmx.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ws.js' %}"></script>
</head>

<body class="bg-slate-200 text-slate-800 dark:bg-slate-800 dark:text-slate-200  m-auto max-w-6xl p-6">
  <div class="flex items-center justify-center" id="chat-wrapper" hx-ext="ws" ws-connect="/ws/chat/">
    <div class="prose" id="message-list"></div>
    <form id="chat-input-bar" ws-send>
      <input name="message" type="text" placeholder="Type your message...">
      <button type="submit">Send</button>
    </form>
  </div>
</body>

</html>
